<div>
  <div class="timer-title">Time to work!</div>
  <div class="timer">{{ currentTime | timecode }}
  	<div class="break-message" ng-show="shortBreakMessage()">
  		<a href="#!/shortbreak">Take a short break?</a>
  	</div>
  	<div class="break-message" ng-show="longBreakMessage()">
  		<a href="#!/longbreak">Take a long break?</a>
  	</div>
  </div>
  <div class="timer-controls">
	  <button type="button" class="btn btn-success btn-lg" ng-click="startTimer()">Start</button>
	  <button type="button" class="btn btn-danger btn-lg" ng-click="stopTimer()">Stop</button>
	  <button type="button" class="btn btn-primary btn-lg" ng-click="resetTimer()">Reset</button>
	</div>
</div>

<div class="login-prompt" ng-hide="authenticated">
  <a href="#!/signin">Sign in to use the task list</a>
</div>

<div ui-view="taskList"></div>