.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* Custom Styles */

.timer-title {
  text-align: center;
  margin-top: 49px;
  font-size: 47px;
}

.timer {
  font-size: 150px;
  text-align: center;
}

.break-message {
  transition: all 5s ease;
  position: absolute;
  font-size: 24px;
  right: 259px;
  top: 257px;
}

.return-to-work-message {
  position: absolute;
  font-size: 24px;
  left: 170px;
  top: 90px;
}

.break-message, .return-to-work-message a {
  text-decoration: none;
}

.timer-controls {
  text-align: center;
  margin: 30px 0;  
}

.timer-controls button {
  margin: 0 20px;
  width: 120px;
  height: 70px;
  font-size: 24px;
}

/* Login Prompt */

.login-prompt {
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
}

/* Add Task and Clean buttons */

.container {
  text-align: center;
}

.container button.add-task {
  margin-right: 31px;
}

.container button.clean-task {
  margin-right: 36px;
}

/* Add Task Form */

.add-task-form {
  text-align: center;
  margin-top: 28px;
}

.add-task-form button {
  margin-left: 12px;
}

.add-task-input {
  width: 350px;
  display: inline-block;
}

/* Task List */

.task-container {
  text-align: center;
  margin: 10px 0 33px 0;
}

.task-container .task {
  display: inline-block;
  float: none;
  text-align: center;
  /*margin-right: -4px;*/
  border: 1px solid black;
  height: 250px;
  width: 250px !important;
  background-color: rgb(253, 255, 163);
  padding-top: 33px;
  margin-right: 21px;
  overflow: hidden;
  margin-top: 13px;
  position: relative;
}

/*.task-container .task:nth-child(3n) {
  margin-right: 0;
}*/

.task-container .task .task-name {
  margin: 14px;
  font-size: 19px;
}

.task-icons {
  bottom: 10px;
  position: absolute;
  top: 14px;
  left: 18px;
}

.task-icon {
  cursor: pointer;
  margin-right: 10px;
}

.task-icon span {
  margin-left: 5px;
}

i.task-icon:nth-child(3) {
  margin-right: 0;
}

i.task-icon.complete-delete {
  margin-left: 82px;
}